absl-py @ file:///home/conda/feedstock_root/build_artifacts/absl-py_1751547525079/work
aiohappyeyeballs @ file:///home/conda/feedstock_root/build_artifacts/aiohappyeyeballs_1741775197943/work
aiohttp @ file:///home/conda/feedstock_root/build_artifacts/aiohttp_1761726499075/work
aiohttp-retry @ file:///home/conda/feedstock_root/build_artifacts/aiohttp-retry_1743371080905/work
aiosignal @ file:///home/conda/feedstock_root/build_artifacts/aiosignal_1751626463503/work
amqp @ file:///home/conda/feedstock_root/build_artifacts/amqp_1765498470815/work
annotated-types @ file:///home/conda/feedstock_root/build_artifacts/annotated-types_1733247046149/work
antlr4-python3-runtime @ file:///home/conda/feedstock_root/build_artifacts/antlr-python-runtime-meta_1638309185939/work
anyio @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_anyio_1764375386/work
appdirs @ file:///home/conda/feedstock_root/build_artifacts/appdirs_1733753955715/work
argon2-cffi @ file:///home/conda/feedstock_root/build_artifacts/argon2-cffi_1749017159514/work
argon2-cffi-bindings @ file:///home/conda/feedstock_root/build_artifacts/argon2-cffi-bindings_1762509342190/work
arrow @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_arrow_1760831179/work
asttokens @ file:///home/conda/feedstock_root/build_artifacts/asttokens_1763409923949/work
astunparse @ file:///home/conda/feedstock_root/build_artifacts/astunparse_1736248061654/work
async-lru @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_async-lru_1742153708/work
asyncssh @ file:///home/conda/feedstock_root/build_artifacts/asyncssh_1759138609386/work
atpublic @ file:///home/conda/feedstock_root/build_artifacts/atpublic_1764403168821/work
attrs @ file:///home/task_176235654487424/conda-bld/attrs_1762356877102/work
babel @ file:///home/conda/feedstock_root/build_artifacts/babel_1738490167835/work
beautifulsoup4 @ file:///home/conda/feedstock_root/build_artifacts/beautifulsoup4_1764520477956/work
billiard @ file:///home/conda/feedstock_root/build_artifacts/billiard_1764511727252/work
bleach @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_bleach_1763589981/work
blinker @ file:///home/task_176433218795220/conda-bld/blinker_1764332236464/work
boto3 @ file:///home/conda/feedstock_root/build_artifacts/boto3_1765847564871/work
botocore @ file:///home/conda/feedstock_root/build_artifacts/botocore_1765840490703/work
brotlicffi @ file:///home/task_176496126216915/conda-bld/brotlicffi_1764961310969/work
cached-property @ file:///croot/cached-property_1754404471781/work
celery @ file:///home/conda/feedstock_root/build_artifacts/celery_1734708894737/work
certifi @ file:///home/conda/feedstock_root/build_artifacts/certifi_1762976168352/work/certifi
cffi @ file:///home/conda/feedstock_root/build_artifacts/cffi_1761202849623/work
charset-normalizer @ file:///home/conda/feedstock_root/build_artifacts/charset-normalizer_1760437218288/work
click @ file:///home/task_176433223059444/conda-bld/click_1764332278448/work
click-didyoumean @ file:///home/conda/feedstock_root/build_artifacts/click-didyoumean_1734293070305/work
click-plugins @ file:///home/conda/feedstock_root/build_artifacts/click-plugins_1750848229740/work
click-repl @ file:///home/conda/feedstock_root/build_artifacts/click-repl_1694959444233/work
colorama @ file:///home/conda/feedstock_root/build_artifacts/colorama_1733218098505/work
coloredlogs @ file:///home/conda/feedstock_root/build_artifacts/coloredlogs_1733927977068/work
comm @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_comm_1753453984/work
configobj @ file:///home/conda/feedstock_root/build_artifacts/configobj_1734075408845/work
contourpy @ file:///home/conda/feedstock_root/build_artifacts/contourpy_1762525244278/work
cryptography @ file:///home/conda/feedstock_root/build_artifacts/cryptography-split_1764804894881/work
cycler @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_cycler_1764466758/work
debugpy @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_debugpy_1758162063/work
decorator @ file:///home/conda/feedstock_root/build_artifacts/decorator_1740384970518/work
defusedxml @ file:///home/conda/feedstock_root/build_artifacts/defusedxml_1615232257335/work
dictdiffer @ file:///home/conda/feedstock_root/build_artifacts/dictdiffer_1734344338200/work
diskcache @ file:///home/conda/feedstock_root/build_artifacts/diskcache_1734196270869/work
distro @ file:///home/conda/feedstock_root/build_artifacts/distro_1734729835256/work
dpath @ file:///home/conda/feedstock_root/build_artifacts/dpath_1762165291153/work
dulwich @ file:///home/conda/feedstock_root/build_artifacts/dulwich_1764184314748/work
dvc @ file:///home/conda/feedstock_root/build_artifacts/dvc_1765003755789/work
dvc-data @ file:///home/conda/feedstock_root/build_artifacts/dvc-data_1755558290760/work
dvc-http @ file:///home/conda/feedstock_root/build_artifacts/dvc-http_1734723780438/work
dvc-objects @ file:///home/conda/feedstock_root/build_artifacts/dvc-objects_1758989529126/work
dvc-render @ file:///home/conda/feedstock_root/build_artifacts/dvc-render_1734673264834/work
dvc-studio-client @ file:///home/conda/feedstock_root/build_artifacts/dvc-studio-client_1753792073694/work
dvc-task @ file:///home/conda/feedstock_root/build_artifacts/dvc-task_1734664522689/work
entrypoints @ file:///home/conda/feedstock_root/build_artifacts/entrypoints_1733327148154/work
et_xmlfile @ file:///croot/et_xmlfile_1756462486635/work
exceptiongroup @ file:///home/conda/feedstock_root/build_artifacts/exceptiongroup_1763918002538/work
executing @ file:///home/conda/feedstock_root/build_artifacts/executing_1756729339227/work
fastjsonschema @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_python-fastjsonschema_1755304154/work/dist
filelock @ file:///home/conda/feedstock_root/build_artifacts/filelock_1759948064277/work
Flask @ file:///croot/flask_1756453126864/work
flatbuffers @ file:///home/conda/feedstock_root/build_artifacts/python-flatbuffers_1758880282135/work
flatten-dict @ file:///home/conda/feedstock_root/build_artifacts/flatten-dict_1629457542349/work
flufl.lock @ file:///home/conda/feedstock_root/build_artifacts/flufl.lock_1746775039328/work
fonttools @ file:///home/conda/feedstock_root/build_artifacts/fonttools_1764352760362/work
fqdn @ file:///home/conda/feedstock_root/build_artifacts/fqdn_1733327382592/work/dist
frozenlist @ file:///home/conda/feedstock_root/build_artifacts/frozenlist_1752167142843/work
fsspec @ file:///home/conda/feedstock_root/build_artifacts/fsspec_1764784748144/work
funcy @ file:///home/conda/feedstock_root/build_artifacts/funcy_1734381131891/work
future @ file:///home/conda/feedstock_root/build_artifacts/future_1738926421307/work
gast @ file:///home/conda/feedstock_root/build_artifacts/gast_1764507054169/work
gitdb @ file:///home/conda/feedstock_root/build_artifacts/gitdb_1735887193964/work
GitPython @ file:///home/conda/feedstock_root/build_artifacts/gitpython_1753444155689/work
gmpy2 @ file:///home/task_176474799776688/conda-bld/gmpy2_1764748047044/work
google-pasta @ file:///home/conda/feedstock_root/build_artifacts/google-pasta_1733852499742/work
grandalf @ file:///home/conda/feedstock_root/build_artifacts/grandalf_1734664611384/work
grpcio @ file:///home/conda/feedstock_root/build_artifacts/grpc-split_1727198194917/work
gssapi @ file:///home/conda/feedstock_root/build_artifacts/python-gssapi_1762474641408/work
gto @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_gto_1759995490/work
h11 @ file:///home/task_176193127070316/conda-bld/h11_1761931282547/work
h2 @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_h2_1756364871/work
h5py @ file:///home/conda/feedstock_root/build_artifacts/h5py_1764016473452/work
hpack @ file:///home/conda/feedstock_root/build_artifacts/hpack_1737618293087/work
httpcore @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_httpcore_1745602916/work
httpx @ file:///home/task_176044729235861/conda-bld/httpx_1760447346003/work
humanfriendly @ file:///home/conda/feedstock_root/build_artifacts/humanfriendly_1733927922002/work
hydra-core @ file:///home/conda/feedstock_root/build_artifacts/hydra-core_1736934708722/work
hyperframe @ file:///home/conda/feedstock_root/build_artifacts/hyperframe_1737618333194/work
idna @ file:///home/conda/feedstock_root/build_artifacts/idna_1760286409563/work
importlib_metadata @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_importlib-metadata_1747934053/work
ipykernel @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_ipykernel_1761567932/work
ipython @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_ipython_1764766793/work
ipython_pygments_lexers @ file:///home/conda/feedstock_root/build_artifacts/ipython_pygments_lexers_1737123620466/work
isoduration @ file:///home/conda/feedstock_root/build_artifacts/isoduration_1733493628631/work/dist
iterative-telemetry @ file:///home/conda/feedstock_root/build_artifacts/iterative-telemetry_1739252628161/work
itsdangerous @ file:///croot/itsdangerous_1716533337253/work
jedi @ file:///home/conda/feedstock_root/build_artifacts/jedi_1733300866624/work
Jinja2 @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_jinja2_1764517220/work
jmespath @ file:///home/conda/feedstock_root/build_artifacts/jmespath_1733229141657/work
joblib @ file:///home/conda/feedstock_root/build_artifacts/joblib_1756321760188/work
json5 @ file:///home/conda/feedstock_root/build_artifacts/json5_1755034879854/work
jsonpointer @ file:///home/conda/feedstock_root/build_artifacts/jsonpointer_1756754131677/work
jsonschema @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_jsonschema_1755595646/work
jsonschema-specifications @ file:///tmp/tmptzik3dqa/src
jupyter-events @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_jupyter_events_1738765986/work
jupyter-lsp @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_jupyter-lsp_1756388269/work/jupyter-lsp
jupyter_client @ file:///home/conda/feedstock_root/build_artifacts/jupyter_client_1733440914442/work
jupyter_core @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_jupyter_core_1760643864/work
jupyter_server @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_jupyter_server_1755870522/work
jupyter_server_terminals @ file:///home/conda/feedstock_root/build_artifacts/jupyter_server_terminals_1733427956852/work
jupyterlab @ file:///home/conda/feedstock_root/build_artifacts/jupyterlab_1763479752490/work
jupyterlab_pygments @ file:///home/conda/feedstock_root/build_artifacts/jupyterlab_pygments_1733328101776/work
jupyterlab_server @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_jupyterlab_server_1761145478/work
keras @ file:///home/conda/feedstock_root/build_artifacts/keras_1755182020562/work
kiwisolver @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_kiwisolver_1762488745/work
kombu @ file:///home/conda/feedstock_root/build_artifacts/kombu_1764070400478/work
lark @ file:///home/conda/feedstock_root/build_artifacts/lark_1761596826058/work
lightfm @ file:///home/conda/feedstock_root/build_artifacts/lightfm_1679649519722/work
loguru @ file:///home/conda/feedstock_root/build_artifacts/loguru_1746634721458/work
lxml==6.0.2
Markdown @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_markdown_1762856570/work
markdown-it-py @ file:///home/conda/feedstock_root/build_artifacts/markdown-it-py_1754951200865/work
MarkupSafe @ file:///home/conda/feedstock_root/build_artifacts/markupsafe_1759055168201/work
matplotlib==3.10.8
matplotlib-inline @ file:///home/conda/feedstock_root/build_artifacts/matplotlib-inline_1761214490209/work
mdurl @ file:///home/conda/feedstock_root/build_artifacts/mdurl_1733255585584/work
mistune @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_mistune_1756495311/work
mkl-service==2.5.2
mkl_fft @ file:///home/task_176159258761192/conda-bld/mkl_fft_1761592901799/work
mkl_random @ file:///home/task_176159293348456/conda-bld/mkl_random_1761592947335/work
ml_dtypes @ file:///croot/ml_dtypes_1746048332589/work
mpmath @ file:///home/conda/feedstock_root/build_artifacts/mpmath_1733302684489/work
multidict @ file:///home/conda/feedstock_root/build_artifacts/multidict_1765460307651/work
munkres==1.1.4
namex @ file:///home/conda/feedstock_root/build_artifacts/namex_1748346368839/work
nbclient @ file:///home/conda/feedstock_root/build_artifacts/nbclient_1734628800805/work
nbconvert @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_nbconvert-core_1760797634/work
nbformat @ file:///home/conda/feedstock_root/build_artifacts/nbformat_1733402752141/work
nbstripout==0.8.2
nest_asyncio @ file:///home/conda/feedstock_root/build_artifacts/nest-asyncio_1733325553580/work
networkx @ file:///home/task_176537858778399/conda-bld/networkx_1765378626589/work
notebook_shim @ file:///home/conda/feedstock_root/build_artifacts/notebook-shim_1733408315203/work
numpy @ file:///croot/numpy_and_numpy_base_1755590845055/work/dist/numpy-1.26.4-cp311-cp311-linux_x86_64.whl#sha256=f3e54aefc576bc7265202a826a4e3701a42fed06e36218192a45f04ea42987fb
nyoka==5.5.0
omegaconf @ file:///home/conda/feedstock_root/build_artifacts/omegaconf_1670575376789/work
onnx @ file:///home/conda/feedstock_root/build_artifacts/onnx_1728117646800/work
onnxconverter-common @ file:///home/conda/feedstock_root/build_artifacts/onnxconverter-common_1764157455994/work
onnxruntime @ file:///home/conda/feedstock_root/build_artifacts/onnxruntime_1765368555938/work/build-ci/Release/dist/onnxruntime-1.22.2-cp311-cp311-linux_x86_64.whl#sha256=0dd1b9e46a500a4105aa3c97fdb288e53d71325bb713d6dc763dd678bdf16f4a
openpyxl @ file:///croot/openpyxl_1736366913861/work
opt_einsum @ file:///home/conda/feedstock_root/build_artifacts/opt_einsum_1733687912731/work
optree @ file:///home/conda/feedstock_root/build_artifacts/optree_1763124254649/work
orjson @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_orjson_1765811454/work
overrides @ file:///home/conda/feedstock_root/build_artifacts/overrides_1734587627321/work
packaging @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_packaging_1745345660/work
pandas @ file:///home/conda/feedstock_root/build_artifacts/pandas_1764614468005/work
pandocfilters @ file:///home/task_175697771096564/conda-bld/pandocfilters_1756977754797/work
parso @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_parso_1755974222/work
pathlib2 @ file:///home/conda/feedstock_root/build_artifacts/pathlib2_1758630444355/work
pathspec @ file:///home/conda/feedstock_root/build_artifacts/pathspec_1733233363808/work
patsy @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_patsy_1760998269/work
pexpect @ file:///home/conda/feedstock_root/build_artifacts/pexpect_1733301927746/work
pika @ file:///home/conda/feedstock_root/build_artifacts/pika_1667818065465/work
pillow @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_pillow_1764330106/work
platformdirs @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_platformdirs_1759953252/work
prometheus_client @ file:///home/conda/feedstock_root/build_artifacts/prometheus_client_1758278110859/work
prompt_toolkit @ file:///home/task_176174483353592/conda-bld/prompt-toolkit_1761744845973/work
propcache @ file:///home/conda/feedstock_root/build_artifacts/propcache_1744524942571/work
protobuf @ file:///home/conda/feedstock_root/build_artifacts/protobuf_1727108809943/work/bazel-bin/python/dist/protobuf-5.27.5-cp311-abi3-linux_x86_64.whl#sha256=c48e8756e6238c9f7cfb54d45193673fec655d8b1bb54bb384b47adef82d3e5e
psutil @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_psutil_1762092898/work
ptyprocess @ file:///opt/miniconda3/conda-bld/ptyprocess_1762424170819/work/dist/ptyprocess-0.7.0-py2.py3-none-any.whl#sha256=3470be7f810474c8a2ecfcd6e02acc6aea8483ab595417fa4e336362a349933e
pure_eval @ file:///home/conda/feedstock_root/build_artifacts/pure_eval_1733569405015/work
pycparser @ file:///home/task_175749606196006/conda-bld/pycparser_1757496076770/work
pydantic @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_pydantic_1764434463/work
pydantic-settings @ file:///home/conda/feedstock_root/build_artifacts/pydantic-settings_1762786248253/work
pydantic_core @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_pydantic-core_1762988992/work
pydot @ file:///home/conda/feedstock_root/build_artifacts/pydot_1756812338050/work
pygit2 @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_pygit2_1764778288/work
Pygments @ file:///home/conda/feedstock_root/build_artifacts/pygments_1750615794071/work
pygtrie @ file:///home/conda/feedstock_root/build_artifacts/pygtrie_1734664549100/work
pyOpenSSL @ file:///home/conda/feedstock_root/build_artifacts/pyopenssl_1760304524008/work
pyparsing @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_pyparsing_1758436411/work
PySide6==6.9.3
PySocks @ file:///home/conda/feedstock_root/build_artifacts/pysocks_1733217236728/work
python-dateutil @ file:///croot/python-dateutil_1716495738603/work
python-dotenv @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_python-dotenv_1761503229/work
python-json-logger @ file:///home/task_176459015120322/conda-bld/python-json-logger_1764590193327/work
pytz @ file:///home/conda/feedstock_root/build_artifacts/pytz_1742920838005/work
PyYAML @ file:///home/conda/feedstock_root/build_artifacts/pyyaml_1758891829620/work
pyzmq @ file:///home/task_176237559798588/conda-bld/pyzmq_1762375611039/work
referencing @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_referencing_1760379115/work
requests @ file:///home/task_176235919505742/conda-bld/requests_1762359593170/work
rfc3339_validator @ file:///home/conda/feedstock_root/build_artifacts/rfc3339-validator_1733599910982/work
rfc3986-validator @ file:///home/conda/feedstock_root/build_artifacts/rfc3986-validator_1598024191506/work
rfc3987-syntax @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_rfc3987-syntax_1752876729/work
rich @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_rich_1760026188/work/dist
rpds-py @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_rpds-py_1764543197/work
ruamel.yaml @ file:///home/conda/feedstock_root/build_artifacts/ruamel.yaml_1761160592375/work
ruamel.yaml.clib @ file:///home/conda/feedstock_root/build_artifacts/ruamel.yaml.clib_1760564191079/work
s3transfer @ file:///home/conda/feedstock_root/build_artifacts/s3transfer_1764589692484/work
scikit-learn @ file:///home/task_176483813622706/conda-bld/scikit-learn_1764838148458/work
scikit-learn-intelex==2025.6.1
scikit-surprise @ file:///home/conda/feedstock_root/build_artifacts/scikit-surprise_1716198811882/work
scipy @ file:///home/task_176219485285994/conda-bld/scipy_1762195051052/work/dist/scipy-1.16.3-cp311-cp311-linux_x86_64.whl#sha256=d486aaa7b123160a71315bca08fdfd9eca6d720affdc15e1b649309e52a3188a
scmrepo @ file:///home/conda/feedstock_root/build_artifacts/scmrepo_1764690338145/work
seaborn @ file:///home/conda/feedstock_root/build_artifacts/seaborn-split_1733730015268/work
semver @ file:///home/conda/feedstock_root/build_artifacts/semver_1737841553927/work
Send2Trash @ file:///home/conda/feedstock_root/build_artifacts/send2trash_1733322040660/work
shellingham @ file:///home/conda/feedstock_root/build_artifacts/shellingham_1762858192781/work
shiboken6==6.9.3
shortuuid @ file:///home/conda/feedstock_root/build_artifacts/shortuuid_1734272317000/work
shtab @ file:///home/conda/feedstock_root/build_artifacts/shtab_1763470579597/work
six @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_six_1753199211/work
skl2onnx @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_skl2onnx_1748468753/work
smmap @ file:///home/conda/feedstock_root/build_artifacts/smmap_1739781697784/work
sniffio @ file:///home/conda/feedstock_root/build_artifacts/sniffio_1762941432086/work
soupsieve @ file:///home/conda/feedstock_root/build_artifacts/soupsieve_1756330469801/work
sqltrie @ file:///home/conda/feedstock_root/build_artifacts/sqltrie_1739984874333/work
stack_data @ file:///home/conda/feedstock_root/build_artifacts/stack_data_1733569443808/work
statsmodels @ file:///home/conda/feedstock_root/build_artifacts/statsmodels_1759296942597/work
sympy @ file:///home/conda/feedstock_root/build_artifacts/sympy_1745946051654/work
tabulate @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_tabulate_1765140047/work
tensorboard @ file:///home/conda/feedstock_root/build_artifacts/tensorboard_1723713090305/work/tensorboard-2.17.1-py3-none-any.whl#sha256=253701a224000eeca01eee6f7e978aea7b408f60b91eb0babdb04e78947b773e
tensorboard_data_server @ file:///home/conda/feedstock_root/build_artifacts/tensorboard-data-server_1759413095887/work/tensorboard_data_server-0.7.0-py3-none-manylinux2014_x86_64.whl#sha256=c051f343dd37cb81659b80ae0f03f7eff4c6317d6e66297025263c172b23f460
tensorflow @ file:///home/conda/feedstock_root/build_artifacts/tensorflow-split_1729095706337/work/tensorflow_pkg/tensorflow-2.17.0-cp311-cp311-linux_x86_64.whl#sha256=d042061f80c6f0db91d49b9fc01fddb2cfdaac93e387cda22031a9d2a24a8c06
tensorflow_estimator @ file:///home/conda/feedstock_root/build_artifacts/tensorflow-split_1729095706337/work/tensorflow-estimator/wheel_dir/tensorflow_estimator-2.15.0-py2.py3-none-any.whl#sha256=cc3b49ffcbbd5d823ff2d2dc4e545edf4167c4020fe46f368da4e19d1ac3f0a7
termcolor @ file:///home/conda/feedstock_root/build_artifacts/termcolor_1761565758678/work
terminado @ file:///home/conda/feedstock_root/build_artifacts/terminado_1710262609923/work
threadpoolctl @ file:///home/conda/feedstock_root/build_artifacts/threadpoolctl_1741878222898/work
tinycss2 @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_tinycss2_1764621508/work
tomli @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_tomli_1760014679/work
tomlkit @ file:///home/conda/feedstock_root/build_artifacts/tomlkit_1749127122469/work
torch==2.5.1
torchaudio==2.5.1
torchvision==0.20.1
tornado @ file:///home/conda/feedstock_root/build_artifacts/tornado_1762506753215/work
tqdm @ file:///home/conda/feedstock_root/build_artifacts/tqdm_1735661334605/work
traitlets @ file:///home/conda/feedstock_root/build_artifacts/traitlets_1733367359838/work
triton==3.1.0
typer==0.20.0
typer-slim==0.20.0
typing-inspection @ file:///home/conda/feedstock_root/build_artifacts/typing-inspection_1764158251755/work
typing_extensions @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_typing_extensions_1756220668/work
typing_utils @ file:///home/conda/feedstock_root/build_artifacts/typing_utils_1733331286120/work
tzdata @ file:///home/conda/feedstock_root/build_artifacts/python-tzdata_1742745135198/work
unicodedata2 @ file:///home/conda/feedstock_root/build_artifacts/unicodedata2_1763054814805/work
uri-template @ file:///home/conda/feedstock_root/build_artifacts/uri-template_1733323593477/work/dist
urllib3 @ file:///home/task_176496463068260/conda-bld/urllib3_1764964948729/work
uWSGI @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_uwsgi_1761071789/work
vine @ file:///home/conda/feedstock_root/build_artifacts/vine_1733906372582/work
voluptuous @ file:///home/conda/feedstock_root/build_artifacts/voluptuous_1734219447985/work
wcwidth @ file:///home/conda/feedstock_root/build_artifacts/wcwidth_1758622279606/work
webcolors @ file:///home/conda/feedstock_root/build_artifacts/webcolors_1761899299899/work
webencodings @ file:///home/conda/feedstock_root/build_artifacts/webencodings_1733236011802/work
websocket-client @ file:///home/conda/feedstock_root/build_artifacts/websocket-client_1759928050786/work
Werkzeug @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_werkzeug_1764423417/work
wrapt @ file:///home/conda/feedstock_root/build_artifacts/wrapt_1762594894668/work
yarl @ file:///home/conda/feedstock_root/build_artifacts/yarl_1761336841882/work
zc.lockfile @ file:///home/conda/feedstock_root/build_artifacts/zc.lockfile_1758800325450/work
zipp @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_zipp_1764460141/work
