# --- Jupyter & Core ---
ipykernel
notebook

# --- Data Manipulation ---
numpy
pandas
scipy
joblib

# --- Visualization ---
matplotlib
seaborn
plotly
dtale

# --- Machine Learning & Stats ---
scikit-learn
statsmodels
scikit-posthocs
category_encoders
pgeocode
optuna

# --- Intel Acceleration (CPU) ---
scikit-learn-intelex

# --- Gradient Boosting ---
xgboost
catboost

# --- Deep Learning (Torch) ---
# Примечание: PyTorch лучше ставить отдельной командой для GPU - ДО установки всех библиотек.
# pip install torch torchvision torchaudio --index-url https://download.pytorch.org/whl/cu121
# если не требуется GPU в проекте, то можно следующие 3 библиотеки не ставить.
torch
torchvision
torchaudio